<h2> Login</h2>
<form action="/user/login" method="post" >

<label for="">
    Username
    <input type="text" name="username" placeholder="username" >
     </label>
    <label for="">
Password
<input type="password" name="password" placeholder="**********" id="" >
</label>

<button type="submit"> login </button>
</form>


{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}